In [1]:
import pandas as pd
import os

In [2]:
df_confirmed = pd.read_csv(r"C:\Users\91967\Desktop\sample\covid2020.csv")

In [3]:
df_confirmed

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80740,ZWE,Africa,Zimbabwe,2021-04-06,36966.0,32.0,18.143,1531.0,6.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80741,ZWE,Africa,Zimbabwe,2021-04-07,36984.0,18.0,14.571,1531.0,0.0,1.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80742,ZWE,Africa,Zimbabwe,2021-04-08,37052.0,68.0,22.286,1532.0,1.0,1.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80743,ZWE,Africa,Zimbabwe,2021-04-09,37147.0,95.0,34.857,1535.0,3.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
80744,ZWE,Africa,Zimbabwe,2021-04-10,37273.0,126.0,51.714,1538.0,3.0,2.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [4]:
df_confirmed.shape

(80745, 59)

In [5]:
df_confirmed.isnull().sum()

iso_code                                     0
continent                                 3931
location                                     0
date                                         0
total_cases                               1653
new_cases                                 1655
new_cases_smoothed                        2656
total_deaths                             11147
new_deaths                               10989
new_deaths_smoothed                       2656
total_cases_per_million                   2082
new_cases_per_million                     2084
new_cases_smoothed_per_million            3080
total_deaths_per_million                 11563
new_deaths_per_million                   11405
new_deaths_smoothed_per_million           3080
reproduction_rate                        15625
icu_patients                             72289
icu_patients_per_million                 72289
hosp_patients                            70618
hosp_patients_per_million                70618
weekly_icu_admissions                    80002
weekly_icu_admissions_per_million        80002
weekly_hosp_admissions                   79505
weekly_hosp_admissions_per_million       79505
new_tests                                43802
total_tests                              44070
total_tests_per_thousand                 44070
new_tests_per_thousand                   43802
new_tests_smoothed                       38486
new_tests_smoothed_per_thousand          38486
positive_rate                            39820
tests_per_case                           40436
tests_units                              37091
total_vaccinations                       73732
people_vaccinated                        74381
people_fully_vaccinated                  76213
new_vaccinations                         74797
new_vaccinations_smoothed                69693
total_vaccinations_per_hundred           73732
people_vaccinated_per_hundred            74381
people_fully_vaccinated_per_hundred      76213
new_vaccinations_smoothed_per_million    69693
stringency_index                         12053
population                                 500
population_density                        5493
median_age                                7771
aged_65_older                             8607
aged_70_older                             8181
gdp_per_capita                            7469
extreme_poverty                          30781
cardiovasc_death_rate                     6879
diabetes_prevalence                       5889
female_smokers                           22772
male_smokers                             23628
handwashing_facilities                   43638
hospital_beds_per_thousand               13233
life_expectancy                           4095
human_development_index                   6935
dtype: int64

In [6]:
df_confirmed.isnull().head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,True,False,False,False,False

In [7]:
df_confirmed[df_confirmed['continent'].isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
412,OWID_AFR,NaN,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,OWID_AFR,NaN,Africa,2020-02-14,1.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,OWID_AFR,NaN,Africa,2020-02-15,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,OWID_AFR,NaN,Africa,2020-02-16,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,OWID_AFR,NaN,Africa,2020-02-17,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79598,OWID_WRL,NaN,World,2021-04-06,132419139.0,605501.0,600859.143,2872453.0,11801.0,9846.571,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
79599,OWID_WRL,NaN,World,2021-04-07,133103485.0,684346.0,601023.571,2887278.0,14825.0,10212.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
79600,OWID_WRL,NaN,World,2021-04-08,133943335.0,839850.0,619320.000,2901909.0,14631.0,10608.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
79601,OWID_WRL,NaN,World,2021-04-09,134691380.0,748045.0,636325.286,2915400.0,13491.0,11084.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
79602,OWID_WRL,NaN,World,2021-04-10,135355885.0,664505.0,654958.429,2927807.0,12407.0,11649.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737

In [8]:
df_confirmed.shape

(80745, 59)